*{
    margin: 0;
    padding: 0;
}
.hr{
    border-bottom: 2px solid rgb(185, 182, 182);
}
.header{

width: 90%;

margin-left: 5%;

overflow: hidden;

padding: 20px 0;


}
.logo{

width: 20%;

float: left;
}
.nav{

width: 40%;

float: right;
}
.nav ul{

list-style-type: none;

text-align: center;
}
.nav ul li{

float: left;

margin-left: 50px;

text-transform: capitalize;

color: #464242;

font-size: 20px;
}
.content_section{

width: 60%;

margin-left: 20%;

text-align: center;
}
.content_section h1{
    
font-size: 57px;
    
color: #11225A;
    
margin: 10px 0;
}
.content_section h2{
    
font-size: 56px;
    
color: #008CFF;
    
margin-bottom: 10px;
}
.content_section p{
    
font-size: 20px;
    
margin-bottom: 10px;
}
.content_section img{
}
.success{

width: 70%;

margin: auto;

overflow: hidden;

margin-top: 80px;

margin-bottom: 80px;
}
.success_left{

width: 48%;

float: left;

text-align: right;
}
.success_left h1{
    
color: #E76E7E;
    
font-size: 50px;
}
.success_left p{
    
color: #122755;
}
.success_right{

width: 48%;

float: right;
}
.success_right h1{
    
color: #122755;
    
font-size: 50px;
}
.feature{

margin-bottom: 3;

width: 90%;

overflow: hidden;

margin: auto;

margin-bottom: 50px;
}
.feature_one{width: 25%;float: left;text-align: center;background-color: #FEEBED;padding: 50px 30px;}
.feature_two{width: 25%;float: left;margin-left: 6%;background-color: #EAF9F4;padding: 50px 30px;}
.feature_three{width: 25%;float: right;background-color: #FFF8E8;padding: 50px 30px;}
.feature_one img, .feature_two img, .feature_three img{
width: 100%;
}
.feature_one h2, .feature_two h2, .feature_three h2{
    
margin: 13px 0;
text-align: left;
color: #122755;
}
.feature_one p, .feature_two p, .feature_three p{
    
margin: 15px 0;
color: #122755;
    
text-align: left;
}
footer{

text-align: center;

background-color: #008AFF;

padding: 35px 0;
}
footer p{

color: #60D0FF;
}
footer p span{

color: #ffff;

font-weight: 700;

letter-spacing: 2px;
}